.descuentos{
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}
.boxDescuentos{
    text-align: center;
}
.boxFooter{
    background-color: #2c2c5f;
}
.nav-link{
    color:white;
}
.nav-link:hover{
    color: rgb(202, 170, 170);
}
.pago{
    background-color: rgb(180, 238, 218);
    color: #28284e;
}
@media (max-width: 730px) {
    .descuentos > * {
        grid-column-end: span 12;
    }
    .descuentos {
        grid-gap: 2rem 0;
      }

}